.hcenter {
  text-align: center;
}

.jumbo-color {
  background-color: red;
  color: black;
}

.bg-div {
  background-color: yellow;
}

.row-attributes {
  border: 2px solid;
  padding: 4px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: : 4px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.button-row {
  padding: 4px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: : 4px;
  margin-bottom: 4px;
}

.button-centered {
  text-align: center;
}

.col-noborder {
  padding: 2px;
}

.btn-submit {
  background-color: blue;
  color: white;
  font-weight: bold;
  border: 1px solid;
  border-color: black;
}

#pizzaNumber {
  border: 2px solid;
  padding: 2px;
  background-color: white;
}

#myOrder {
  display: none;
}
