.banner {
  text-align: center;
  color: red;
  font-style: italic;
  font-weight: bold;
  font-family: cursive;
}

img {
  width: 100%;
  height: 100%;
  border: 2px;
  border-style: solid;
}

input {
  border: 2px solid;
}

.bg-div {
  background-color: yellow;
}

.row-attributes {
  border: 2px solid;
  padding: 4px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: : 4px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.p-right {
  text-align: right;
  font-weight: bold;
}

.button-row {
  padding: 4px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: : 4px;
  margin-bottom: 4px;
}

.button-centered {
  text-align: center;
}

.btn-red {
  background-color: red;
  color: black;
  font-weight: bold;
  border: 1px solid;
  border-color: black;
}

#submitOrder {
  display: none;
}

#pizzaNumber {
  border: 2px solid;
  padding: 2px;
  background-color: white;
}

#yourOrder {
  display: none;
}
